/* From Uiverse.io by SelfMadeSystem */
/* The switch - the box around the slider */
.switch {
  --a: 0.5s ease-out;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  height: 1em;
  border-radius: 1em;
  box-shadow: 0 0 0 0.66em #aaa;
  aspect-ratio: 212.4992/84.4688;
  background-color: #aaa;
}

/* Hide default HTML checkbox */
#check {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch svg {
  height: 100%;
}

.switch svg path {
  color: #fff;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 136 224;
  transition:
    all var(--a),
    0s transform;
  transform-origin: center;
}

#check:checked ~ .switch svg path {
  stroke-dashoffset: 180;
  transform: scaleY(-1);
}
